/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hands-together.webp") no-repeat center center/cover;
    position: relative;
    opacity: 0.75;
}

#cover-text {
    background-color: rgba(241, 222, 128, 0.7);
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#what-is .card {
    margin-bottom: 1.5rem;
}

#booking-header {
    height: 600px;
    width: 100%;
    background: url("../images/storytime.webp") no-repeat center center/cover;
    position: relative;
    opacity: 0.75;
}

#booking-header #cover-text {
    background-color: rgba(153, 241, 143, 0.7);
    color: black;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

/* Media query for smaller devices to move the #booking-header image to the left slightly for more detail */
@media (max-width: 576px) {
    #booking-header {
        background-position: center right 70%;
    }
}